<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

        <form action="/adddata" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" name="submit">
        </form>

  </body>
</html>
